<!DOCTYPE html>
<html>
<head>
  <title>Gallery Grayscale</title>
      {% include 'partials/head.html' %}
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
<div class="wrapper">
  <header class="main-header">
    <!-- Logo -->
    <a href="index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>R</b>GB</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>RGB</b>Gray</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
      <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
         <li><a href="{{ url_for('uindex') }}"><i class="fa fa-circle-o text-red"></i> <span>Form Masukan Gambar</span></a></li>
        <li class="active"><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Gallery</span></a></li>
      </ul>
    </section>
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <!-- ./col -->
      </div>
      {% for image_name in image_names %}

        <img class="img-responsive" src=" {{url_for('send_image', filename=image_name)}}">

      {% endfor %}
      <div class="row">
        <!-- Left col -->
        <section class="col-lg-7 connectedSortable">
        </section>
        <!-- right col -->
      </div>
      <!-- /.row (main row) -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 0.1 (Beta)
    </div>
    <strong>Copyright &copy; 2019 UNP Kediri</strong>
  </footer>
</div>
  {% include 'partials/jst.html' %}

</body>
</html>
